<body>
    <main class="d-flex justify-content-center">
    
        
<!-- Material Input - form -->
    <form class="example-form pb-5" [formGroup]="formLogin"  >

        <p class="text-center pt-3 text-primary ">
          <span> <mat-icon fontIcon="local_florist"></mat-icon></span>
          Iniciar Sesión
          <span> <mat-icon fontIcon="local_florist"></mat-icon></span>
        </p>


        <!-- UserName -->
        <div class="mt-5">
        <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Admin" [formControl]="user" id="user" [errorStateMatcher]="matcher">
          </mat-form-field>
          <mat-error *ngIf="user.hasError('required')">
            An username is <strong>required</strong>
          </mat-error>


        </div>
        

        <br>
        <!-- Password -->
        <div>
        <mat-form-field class="example-full-width">
            
            <mat-label>Password</mat-label>
            <input matInput placeholder="123456" [formControl]="pass"id="pass"  [errorStateMatcher]="matcher" >
          </mat-form-field>
          <mat-error *ngIf="user.hasError('required')">
              A password is <strong>required</strong>
          </mat-error>
        </div>

        <br>
        
<!-- /Material Input - form --> 
     

        <!--Buttton -->
        <div class="d-flex justify-content-center">
        <button class="form-control mt-4 py-2 mb-3" (click)="validacion()"
        >Login</button>
        
        </div>
    </form>
</main>
</body>