body {
    background-color: transparent;
    height: 80vh;

}

h1{
    font-size: 45px;
    font-weight: 900;
    -webkit-text-stroke-color:rgba(252, 234, 77, 0.753) ;
    -webkit-text-stroke-width: 2px;
    text-shadow: 2px 7px 2px rgb(16, 139, 5);

}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  

button {
    background: #00c3ff;
    background: linear-gradient(to right,#ffff1c,#00c3ff);
    font-weight: 700;
    color: #311804;
    font-size: 20px;
    width: 12em;
}